###############################################################################
## Option Settings
##    Namespace: "aws:elasticbeanstalk:application:environment"
##    OptionName: WebRequestCWLogGroup
##       Default:   <EnvironmentName>-pm2-logs is the name of the cloudwatch log group for web requests (access log)
##
## To get an SNS alert, add a subscription to the Elastic Beanstalk Notification
##   topic.  (e.g. set your Notificiation Endpoint to your email address)
##
## Metrics
##  Namespace:  ElasticBeanstalk/<EnvironmentName>
##  Metrics:    CWLHttp4xx  CWLHttp5xx
##
## Cloudwatch Alarms
##   CWLHttp5xxCount   - this alarm fires if the number of calls returning
##                        5xx response codes > 10
##   CWLHttp4xxPercent - this alarm fires if the percentage of calls returning
##                        4xx response codes > 10%
##
###############################################################################

# PM2 access log pattern:
# $remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$http_x_forwarded_for"
Mappings:
  CWLogs:
    PM2LogsLogGroup:
      LogFile: "/var/log/pm2-out.log"
      TimestampFormat: ""

Outputs:
  PM2LogsCWLogGroup:
    Description: "The name of the Cloudwatch Logs Log Group created for this environments web server access logs. You can specify this by setting the value for the environment variable: PM2LogsCWLogGroup. Please note: if you update this value, then you will need to go and clear out the old cloudwatch logs group and delete it through Cloudwatch Logs."
    Value: { "Ref" : "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0PM2LogsLogGroup"}


Resources :
  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0PM2LogsLogGroup:    ## Must have prefix:  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0
    Type: "AWS::Logs::LogGroup"
    DependsOn: AWSEBBeanstalkMetadata
    DeletionPolicy: Retain     ## this is required
    Properties:
      LogGroupName:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: PM2LogsCWLogGroup
          DefaultValue: {"Fn::Join":["-", [{ "Ref":"AWSEBEnvironmentName" }, "pm2logs"]]}
      RetentionInDays: 14

